/* navigation bar */
.navigation {
    background-color: #4b9e9e;
    overflow: hidden;
}

.navigation a {
    float: left;
    color: #eaeaea;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.navigation a:hover {
    background-color: #3c7f7f;
    color: #eaeaea;
}

.navigation a:active {
    font-weight : bold;
}

/* home page */
.home {
    /*create grid so that objects in both classes can be placed side by side*/
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
}

.home_text{
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    
}

.home_text p{
    font-size: 15px; 
}

.home_text h1{
    font-size: 65px;
    color: #3c7f7f;  
}

.home_text a{
    text-decoration: none;
    background-color: #d0d0d0;
    color: black;
    padding: 20px;
}

.home_image {
    margin-left: 100px;
    margin-top: 100px;
}

/* footer */
.Footer{
    /*create grid so that objects in both classes can be placed side by side*/
    margin-bottom: -200px;
    height: 200;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    background-color: #c6c6c6;
    padding: 14px 50px;
    margin-bottom: 0px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

/* projects page */
.projects{
    /*create grid so that objects in both classes can be placed side by side*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.projects a{
    background-color: #c6c6c6;
    padding: 14px;
}

/* h1 on every page */
h1{
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

/* about me page */

.aboutme {
    /*create grid so that objects in both classes can be placed side by side*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}








  
  

